@layout.app()
  <p>
    foi
  </p>
  @each(bundle in bundles)
    <div>
      <h3>
        {{ bundle.displayName }}
      </h3>
      <img src="{{ bundle.displayIcon }}" alt="" />
    </div>
  @end
@end
