@let(attributes = $props
  .merge({
    class: ['bg-black', 'bg-no-repeat', 'bg-cover', 'bg-center', 'bg-fixed', 'flex', 'flex-row']
  })
  .toAttrs()
)

<body {{ attributes }}>
  {{{ await $slots.main() }}}
</body>
