<!DOCTYPE html>
<html lang="en">
  @!component('components/header')

  <body class="min-h-screen w-screen font-sans">

    @!component('components/nav')

    {{--  get all weapons categories  --}}
    <div class="grid grid-cols-3 gap-4">
      @each(w in data)
        @!component('components/weapon/category', { weapon: w })
      @end
      
    </div>
  </body>
</html>
