@layout.app()
  @body({
    class:['bg-default']
  })
    @eval(await auth.check())
    @!nav()
    <div class="grid grid-cols-5 gap-4 p-28">
      @each(skin in data)
        <a href="{{ route('skin', [skin.uuid]) }}">
          @!weapon.cardPromo({full_render: skin.display_icon, display_name: skin.skin_name, tier_icon: skin.tier_icon, tier_name: skin.tier_name, currency })
        </a>
      @end
    </div>
    @!footer()
  @end
@end


