<!DOCTYPE html>
<html>
  @!header()
  @let({display_name} = data[0])
  @let({swatch} = data[0])
  @let({full_render} = data[0])
  @let(bundles = JSON.stringify(bundle))
  <body
    id="skbody"
    data-bundle="{{ bundles }}"
    class="min-h-screen w-screen font-sans bg-black bg-cover bg-center bg-no-repeat"
  >
    @!nav()
    <div class="flex flex-col justify-center items-center w-full bg-black bg-opacity-60 p-8">
      <div
        class="flex flex-col justify-center items-center w-2/6 h-72 rounded-t-lg overflow-hidden"
        style="width: 560px;"
      >
        <div class="bg-white w-full p-3">
          <h2 class="text-red-600 text-xl" style="font-family: 'VALORANT', sans-serif">
            {{ display_name }}
          </h2>
        </div>
        <div class="flex flex-col items-center justify-evenly w-full h-full bg-black bg-opacity-75 p-5">
          <div>
            <img id="banner" src="{{ full_render }}" class=" object-contain object-center h-32" />
          </div>
          <div class="flex flex-row justify-between w-40">
            @if(swatch)
              @each(skin in data)
                <div
                  data-chroma
                  video="{{ skin.chroma_video }}"
                  data-full
                  render="{{ skin.full_render }}"
                  onclick="chose_swatch('{{ skin.full_render }}', '{{ skin.chroma_video }}')"
                  class="rounded-lg overflow-hidden"
                >
                  <img src="{{ skin.swatch }}" class="h-9 w-9" />
                </div>
              @end
            @end
          </div>
        </div>
      </div>
      <div>
        <iframe
          id="weapon_video"
          width="560"
          height="320"
          src=""
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          hidden
        >
        </iframe>
      </div>
    </div>
  </div>
  @!footer()
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", event => {
      const body = document.getElementById("skbody");
      const bundle = JSON.parse(body.getAttribute("data-bundle"));
      console.log(bundle);
      if (bundle.length) {
        body.classList.add(`bg-[url('${bundle[0].displayIcona}')]`);
      } else {
        body.classList.add("bg_default");
      }
    });
    
    function chose_swatch(swatch, chroma_video) {
      const imgtest = document.getElementById("banner");
      const iframechroma = document.getElementById("weapon_video");
      imgtest.setAttribute("src", swatch);
      if (chroma_video != "null") {
        iframechroma.removeAttribute("hidden");
        iframechroma.setAttribute("src", chroma_video);
      } else {
        iframechroma.setAttribute("hidden", true);
        iframechroma.setAttribute("src", "");
      }
    }
  </script>
</body>
</html>
