@layout.app()
  @body({
    class:['bg-default']
  })
    @eval(await auth.check())
    @!nav()
    <div class="grid grid-cols-4 gap-4 p-36">
      @each(skin in data)
        <a href="{{ route('skin', [skin.skinUuid]) }}">
          @!component('components/weapon/card', { full_render: skin.displayIcon, display_name: skin.displayName })
        </a>
      @end
    </div>
    @!footer()
  @end
@end


