<!DOCTYPE html>
<html>
  @!header()
  <body class="min-h-screen w-screen font-sans">

    {{--  get all weapons categories  --}}
    <div class="grid grid-cols-3 gap-4">
      @each(skin in data)
        <div>
          {{ skin.display_name }}
        </div>
        <img src="{{ skin.full_render }}" />
      @end
    </div>
  </body>
</html>
