@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.bg-default {
  background-image: url(../src/nightbackground.jpeg);
}

.bg-card-promo {
  background-image: url(../src/carbobg.jpg);
}
