<div class="mx-auto">
  <div
    class="card | flex flex-col mb-4 | 2xl:w-56 2xl:h-96 w-48 h-72 justify-start"
    x-data="{isFlipped: false}"
  >
    <div class="face front | shadow-2xl">
      <img src="https://w0.peakpx.com/wallpaper/839/505/HD-wallpaper-omen-game-valorant-thumbnail.jpg" />
    </div>
    <div class="z-30 w-9 h-9 p-2">
      @svg('heroicons:lock-closed', {
          width: 24,
          height: 24,
          color: 'white',
          opacity: 0.5
      })
    </div>
  </div>
</div>
