
<div class="flex flex-col w-full justify-center items-center">
  <div class="p-10">
    <h3 class="text-red-600 text-xl" style="font-family: 'VALORANT', sans-serif">
      NIGHT ADVISOR
    </h3>
  </div>
  <div class="flex flex-row justify-evenly w-11/12">
    @!component('components/weapon/card_advisor', { skin: skinsAdvisor[0] })
    @!component('components/weapon/card_advisor', { skin: skinsAdvisor[1] })
    @!component('components/weapon/card_advisor', { skin: skinsAdvisor[2] })
    @!component('components/weapon/card_advisor', { skin: skinsAdvisor[3] })
  </div>
</div>
